@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,900');
@import "font-awesome";

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body {
  background: image_url('light_grey.png');
  font-family: 'Merriweather', Georgia, serif;
}

h1, h2 {
  font-weight: 900;
}

.navbar {
  background: image_url('zwartevilt.png');
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: #E3E85A;
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-size: 1.625em; /*26px*/
}

.nav-link, label, .sans {
  font-family: sans-serif;
}
.nav-link {
  line-height: 2.6;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 1em;
  margin-bottom: 1.5em;
  padding: 1.5em;
}

abbr[title] {
  color: #a94442; // From .alert-danger
  text-decoration: none;
}