@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,900');
@import "font-awesome";

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body {
  background: image_url('light_grey.png');
  font-family: 'Merriweather', Georgia, serif;
}

h1, h2 {
  font-weight: 900;
}

.navbar {
  background: image_url('zwartevilt.png');
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: #E3E85A;
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-size: 1.625em; /*26px*/
}

.nav-link, label, .sans {
  font-family: sans-serif;
}
.nav-link {
  line-height: 2.6;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 1em;
  margin-bottom: 1.5em;
  padding: 1.5em;
}

.form-inputs, .form-actions, .booyah-box h2 {
  margin-bottom: 1rem;
}

abbr[title] {
  color: #a94442; // From .alert-danger
  text-decoration: none;
}


.alert {
  text-align: center;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

#map { 
  height: 50vh;
}

#map + .container { 
    margin-top: -15vh;
}

.clear {
  clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #f0ad4e;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-style: italic;
}

blockquote p {
  display: inline;
}

blockquote strong {
  display: block;
  color: #f0ad4e;
  font-size: 150%;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

figure.figure {
  position: relative;
 /* -webkit-margin-before:0;
  -webkit-margin-after: 0;*/
 /* padding-left: 0;
  padding-right: 0;*/
  /*margin: 0 15px;*/
}

figcaption {
 /* position: absolute;
  width: 100%;*/
  /*font-style: italic;*/
  /*margin-right: 15px;
  margin-left: 15px;
  border-radius: 0.25rem;
  bottom: 0;
  left: 0;
  -webkit-margin-before:0;
  -webkit-margin-after: 0;*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
  /*background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);*/ /* FF3.6-15 */
  /*background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);*/ /* Chrome10-25,Safari5.1-6 */
  /* background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);*/ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );*/ /* IE6-9 */
}

.figure-caption {
  /*color: #fff;*/
  font-size: italic;
  display: block;
  /*padding: 2rem .5rem .5rem .5rem;*/
  padding: .5rem 0;
  
}

label.file {
  display: block;
}

input.file {
  line-height: 2.1;
  @extend .text-muted;
}

input.file::-webkit-file-upload-button {
  visibility: hidden;
}
input.file::before {
  content: 'Upload';
  display: inline-block;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  @extend .btn;
  @extend .btn-outline-primary;
}
/*input.file:hover::before {
  border-color: black;
}*/
/*input.file:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}*/

