@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,700|Merriweather:400,400i,900');
@import "font-awesome";
$brand-primary: #ff4552;
$blue: #2391CC;

a {
  color: $brand-primary;
  &:hover {
    color: #E53E4A;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin:0 0 .25rem 0;
  padding:0;
  line-height: 1.25;
}



body {
  background: #efe8d8;
  font-family: 'Merriweather', Georgia, serif;
}

h1, h2, h3 {
  font-weight: 900;
}

h6 {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 300;
  margin-bottom: .5em;
  word-wrap: break-word;
  line-height: 1.25;
  & strong {
    font-weight: 700;
  }
}

.navbar {
  background: #1a1917;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.navbar-inverse .navbar-brand {
  color: $brand-primary;
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-size: 1.625em; /*26px*/
  &:hover {
    color: #E53E4A;
  }
}

.nav-link, label, .sans {
  font-family: sans-serif;
}
.nav-link {
  line-height: 2.6;
}

.booyah-box {
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 1em;
  margin-bottom: 1.5em;
  padding: 1.5em;
}

.form-inputs, .form-actions, .booyah-box h2 {
  margin-bottom: 1rem;
}

abbr[title] {
  color: $brand-primary; // From .alert-danger
  text-decoration: none;
}


.alert {
  text-align: center;
  margin-bottom: 0;
}

.alert-dismissible .close {
    padding: 0.75rem 1.25rem 0 1.25rem;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

#map { 
  height: 50vh;
}

#map + .container, .carousel + .container { 
    margin-top: -15vh;
    // z-index: 1000;
}

.clear {
  clear: both;
}

blockquote {
  background: #f0f0f0;
  border-left: 10px solid $brand-primary;
  margin: 1.5em 0;
  padding: 0.5em 10px;
  font-style: italic;
}

blockquote p {
  margin-bottom: .25rem;
}

blockquote strong {
  color: $brand-primary;
  font-size: 150%;
  font-style: normal;
}

.bottom-collapse {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

figure.figure {
  position: relative;
}

.figure-caption {
  font-size: italic;
  display: block;
  padding: .5rem 0;
  
}

label.file {
  display: block;
}

input.file {
  line-height: 2.1;
  @extend .text-muted;
}

input.file::-webkit-file-upload-button {
  visibility: hidden;
}
input.file::before {
  content: 'Upload';
  display: inline-block;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  @extend .btn;
  @extend .btn-outline-primary;
  color: #2391CC;
  border-color: #2391CC;
    &:hover {
      background-color: #2782B2;
      border-color: #2782B2;
  }
}
/*input.file:hover::before {
  border-color: black;
}*/
/*input.file:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}*/



.carousel-caption {
  font-family: 'Merriweather', Georgia, serif;
  font-weight: 900;
  font-size: 60px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-bottom: 25vh;
  padding-top: 10vh;
}

.carousel-indicators {
  bottom: 20vh;
}

.carousel {
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.carousel-item {
  height: 550px;
  &:nth-child(1) {
    background: image-url('seattle.jpg') center center no-repeat;
    background-size: cover;
  }
  &:nth-child(2) {
    background: image-url('forest.jpg') center center no-repeat;
    background-size: cover;
  }
}

.nav-link, label, .sans, button, input, optgroup, select, textarea, .btn, .nav-link {
    font-family: 'Merriweather Sans', Helvetica Neue, Helvetica, sans-serif;
    font-weight: 300;
}

.profile-img {
  margin-bottom: .5em
}

.pagination {
  font-family: 'Merriweather Sans', sans-serif;
}

.page-item.active .page-link {
    background-color: $brand-primary;
    border-color: $brand-primary;
}
.page-link {
    color: $brand-primary;
    background-color: #fff;
    border: 1px solid #f0f0f0;
}

.page-link:focus, .page-link:hover {
    color: $brand-primary;
    background-color: #f0f0f0;
    border-color: #f0f0f0;
}

.page-item.disabled {
  color: #f0f0f0;
}

.btn-primary {
    background-color: #2391CC;
    border-color: #2391CC;
    &:hover {
      background-color: #2782B2;
      border-color: #2782B2;
  }
}

@media (max-width: 540px) {
  h1, .carousel-caption {
    font-size: 2rem;
    line-height: 1.15;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }
}

@media (max-width: 720px) {
  h1, .carousel-caption {
    font-size: 2.5rem;
    line-height: 1.15;
  }

  .carousel-item {
    height: 40vh;
  }

  #map + .container, .carousel + .container {
      margin-top: -5vh;
  }
  .carousel-caption {
    padding-bottom: 10vh;
  }
  .carousel-indicators {
    bottom: 5vh;
  }
}

.leaflet-control-attribution, .mapbox-logo {
  display: none;
}