<div class="container">
  <div class="col-10 offset-1">
    <div class="booyah-box">
      <h1><%= @place.name %></h1>
      <p><em><%= @place.address %></em></p>
      <p><%= @place.description %></p>
    </div>
  </div>
</div>